.container {
    background-color: #fff;
    min-height: 50vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
}

@media only screen and (max-width: 526px) {
    .container {
        padding: 0 1rem;
    }
}

