.message {
    height: 6em;
}

.button {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}